footer
    div(class="row")
        div(class="col-full")
            div(class="footer-logo")
                a(class="footer-site-logo" href="#0")
                    img(src="/images/renzzo_logo_grad.png" height="300" width="300" alt="LOGO")
            
            ul(class="footer-social")
                li
                    a(href="https://github.com/Renzzo98")
                        i(class="im im-github" aria-hidden="true") <span> Github </span>

                li
                    a(href="https://www.linkedin.com/in/hugorenzzoolcese")
                        i(class="im im-linkedin" aria-hidden="true") <span> LinkedIn </span>
                    
                li
                    a(href="https://www.facebook.com/hugo.olcese.98")
                        i(class="im im-facebook" aria-hidden="true") <span> Facebook </span>
            