block variables
doctype html
html
    head
        meta(charset="utf-8")
        link(rel="shortcut icon", href="/images/favicon.ico")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="theme-color", content="#000000")
        title Renzzo.dev
        link(rel="stylesheet" href="/css/fontawesome-all.min.css")
        link(rel="stylesheet" href="/css/base.css")
        link(rel="stylesheet" href="/css/fonts.css")
        link(rel="stylesheet" href="/css/main.css")
        link(rel="stylesheet" href="/css/infinite-slider.css")
        link(rel="stylesheet" href="/css/vendor.css")
        link(rel="stylesheet" href="/css/noscript.css")
        link(rel="stylesheet" href="/css/iconic/css/iconmonstr-iconic-font.min.css")
        
        
    body(class="is-preload")
        div#root
            block layout-content

    footer

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")

        script(src="https://kit.fontawesome.com/9459603363.js" crossorigin="anonymous")

        script
            include ../assets/js/carousel.js
        script
            include ../assets/js/bar-progress.js
        script
            include ../assets/js/modernizr.js
        script
            include ../assets/js/pace.min.js
        script
            include ../assets/js/source/breakpoints.min.js
        script
            include ../assets/js/source/browser.min.js
        script
            include ../assets/js/source/util.js
        script
            include ../assets/js/source/main.js
        script
            include ../assets/js/imagesLoaded.js
        script
            include ../assets/js/waypoint.js
        script
            include ../assets/js/nav_highlights.js
        script
            include ../assets/js/main.js
        script
            include ../assets/js/plugins.js
        


